@use '../../foundation/variable';
@use '../../foundation/mixin';


.c-card {
    margin-bottom: 20px;
    @include mixin.breakpoint(tab) {
        margin-bottom: 30px;
    }
    &__inner {
        display       : flex;
        flex-direction: column;
        @include mixin.breakpoint(tab) {
            flex-direction: row;
            width         : 100%;
            height: 354px;
        }
        @include mixin.breakpoint(pc) {
            height: 470px;
        }
    }
    & img {
        max-width          : 100%;
        height: 280px;
        object-fit     : cover;
        @include mixin.breakpoint(tab) {
            width: 50%;
            height: auto;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 354px;
        background     : variable.$bg--card;
        color          : #fff;
        width          : 100%;
        padding        : 20px 5%;
        @include mixin.breakpoint(tab) {
            padding: 20px 30px;
            width: 50%;
        }
        @include mixin.breakpoint(pc) {
            padding: 40px 5%;
            // height: 470px;
            height: 100%;
        }
        & h4 {
            font-weight: 700;
            font-size  : 2.0rem;
            padding    : 10px 0;
            white-space: nowrap;
            @include mixin.breakpoint(tab) {
                padding-bottom: 15px;
                font-size: max(2.4vw, 1.85rem);
            }
            @include mixin.breakpoint(pc) {
                font-size     : clamp(1.8rem, 2.3vw, 3.6rem);
                padding-bottom: 25px;
            }
        }
        & p {
            overflow: hidden;
            padding: 10px 0;
        }
        &__button {
            margin-top: auto;
            text-align    : center;
            padding: 20px 0;
            @include mixin.breakpoint(pc) {
            padding-bottom: 15px;
            }
            &__link {
            background   : #fff;
            color        : variable.$c--default;
            padding      : 8px;
            border-radius: 60px;
            font-weight  : 700;
            display      : inline-block;
            width        : 163px;
            @include mixin.breakpoint(pc) {
                padding  : 25px;
                width    : 20vw;
                max-width: 292px;
            }
            }
        }
    }
}
