@use '../../foundation/variable';
@use '../../foundation/mixin';

.c-inner-item {
    &--panel {
        &__list{
            background: variable.$bg--panel-text;
            height    : 172px;
            display   : inline-block;
            width     : 100%;
            padding   : 10px;
            @include mixin.breakpoint(pc) {
                padding: 10px 20px;
            }
            &:first-child{
                margin-bottom: 12px;
                @include mixin.breakpoint(pc) {
                margin-bottom: 4%;
                }
            }
            &__title {
                font-weight: 700;
                font-size  : 2.2rem;
                padding    : 10px 0;
            }
            &__text {
                padding: 5px 0;
                width: 100%;
            }
        }
    }
}
