@use '../../foundation/variable';
@use '../../foundation/mixin';

.u-display {
    &--sp {
        display: block;
        @include mixin.breakpoint(tab) {
            display: none;
        }
    }
    &--tab {
        display: none;
        @include mixin.breakpoint(tab) {
            display: block;
        }
    }
    &--pc {
        display: block;
        @include mixin.breakpoint(pc) {
            display: none;
        }
    }
}


