@use '../foundation/variable';
@use '../foundation/mixin';

.l-outer {
    &--front {
        padding: 5%;
        @include mixin.breakpoint(pc) {
            padding: 7%;
        }
    }
    &--archive {
        padding: 25px 5% 10px 5%;
        @include mixin.breakpoint(tab) {
            padding: 30px 5% 50px 5%;
        }
        @include mixin.breakpoint(pc) {
            padding: 50px 6%;
        }
    }
    &--single,
    &--page,
    &--404 {
        padding: 20px 5% ;
        @include mixin.breakpoint(tab) {
            padding: 45px 7%;
        }
        @include mixin.breakpoint(pc) {
            padding: 50px 6%;
        }
    }
}
